node_modules/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
.expo/
.expo-shared/
dist/
build/
.gradle/
local.properties
*.iml
.idea/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env.production
